@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.gradient {
  background: url(../../public/bitGradient.png) no-repeat;
  background-size: center;
  background-position: top 0% center;
  overflow: visible;
}
